<ion-header>
  <ion-navbar color="danger">
    <feed-header img="http://placehold.it/50" (streamsClick)="showStreams()" 
    (notificationsClick)="showNotifications()" (directMessagesClick)="showDirectMessages()"
      (searchClick)="showSearch()" (logout)="logout()"> </feed-header>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="feed">
      Feed
    </ion-segment-button>
    <ion-segment-button value="watchlist">
      WATCHLIST
    </ion-segment-button>
    <ion-segment-button value="trending">
      TRENDING
    </ion-segment-button>
  </ion-segment>

<div [ngSwitch]="segment">
  <ion-list *ngSwitchCase="feed" no-lines> 
    <tweet *ngFor="let tweet of tweets | async" avatar="http://placehold.it/50" id="1" 
        name="Rajkiran" handle="@panuganti" tweetText="{{tweet.tweetText}}" likeCount=12 
        retweetCount=4 chatCount=3 (like)="like($event)" (retweet)="retweet($event)" 
        (conversation)="conversation($event)" (reply)="reply($event)"> 
    </tweet>
  </ion-list>

  <ion-list *ngSwitchCase="watchlist">
    <p *ngIf="getWatchlistCount(watchlist | async)==0"> You do not seem to have anyone in watchlist </p>
    <celebrity *ngIf="getWatchlistCount(watchlist | async)>0" *ngFor="let celeb of watchlist | async" celebImg="" celebName="" id="" 
        heartCount="{{getFollowersCount(af.database.object('/Celebs/')) | async}}" 
        (watch)="addToWatchlist($event)"> </celebrity> 
  </ion-list>

  <ion-list *ngSwitchCase="trending">
    <celebrity *ngFor="let celeb of celebs | async" celebImg="{{celeb.img}}" celebName="{{celeb.name}}" id="{{celeb.id}}" 
        heartCount="{{getFollowersCount(af.database.object('/Celebs/')) | async}}" (watch)="addToWatchlist($event)"> </celebrity>
  </ion-list>
</div>
</ion-content>